.form-group{
text-align:left;
}
.form-group .label{
    margin-top:20px;
}
.logo{
    width:150px;
    height:150px;
    margin-top:-75px;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid #B7B7B7;
    width:100%;
  }
input[type=password] {
    border: none;
    border-bottom: 2px solid #B7B7B7;
    width:100%;
  }
  .submitt{
    color:white;
    font-size:22px;
    margin-top:25px;
    width:100%; 
    background-image:linear-gradient(to bottom, #0099FF , #004D80); 
    border:0px;
  }